.FormApp {
  background-color: white;
}

.container {
  width: 1124px;
  margin: auto;
  background-color: #F3F5F5;
}


.BoxFood {
  border: 2px solid grey;
  border-radius: 5px;
    height: 160px;
    background: #fff;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    cursor: pointer;
    margin:10px;
}

.BoxFood img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.FormFood {
display: flex;
justify-content: space-between;
}

